PORT=5000

DB_USER=sa
DB_PASSWORD=YourStrong!Passw0rd
DB_SERVER=localhost
DB_NAME=JobTrackerDB
DB_PORT=1433
DB_ENCRYPT=false
DB_TRUST_SERVER_CERT=true

JWT_SECRET=replace-this-with-a-long-random-secret
JWT_EXPIRES_IN=7d
